.navbar-default {
    background-color: #0ab920;
    border-color: #e7e7e7;
}

.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }

mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
.mfp-preloader a {
    color: #CCC; }
.mfp-preloader a:hover {
    color: #FFF; }

.mfp-s-ready .mfp-preloader {
    display: none; }

.preloader {
    background: #F9F9F9;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}