.preloader {
    background: #F9F9F9;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.preloader p {
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    font-size: 20px;
    color: #333333;
}

p {
    line-height: 28px;
}

.navigation-menu .navbar-nav li a {
    color: #333333;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}